{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container-fluid">
  <h1 class="mt-4">Gestão de Clientes</h1>
  <p>Banco de dados simplificado para cadastro de pessoas, com os seguintes campos: nome, idade, endereço, bio, salário e imagem.</p>
  <p>Neste website, você pode consultar, criar e apagar registros.</p>
  <p>Objeto do curso Django 2.x da Udemy - Professor Gregory Pacheco.</p>
  <h4>Olá, {{ user.username|capfirst }}!</h4>
</div>
{% endblock %}
