{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gestão de Clientes - {% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'css/cliente_detail.css' %}" rel="stylesheet">
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <center>
        <div class="sidebar-heading"><img width="110px" height="70px"src="{% static 'img/clientes.png' %}" alt=""></div>
      </center>
      <div class="list-group list-group-flush">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="{% url 'lista' %}" class="list-group-item list-group-item-action bg-light">Lista de Clientes</a>
        <a href="{% url 'cliente-adicionar' %}" class="list-group-item list-group-item-action bg-light">Adicionar Cliente</a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-light">Sair</a>
        {% else %}
        <a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-light">Entrar</a>
        {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Side Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clientes
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'lista' %}">Lista de Clientes</a>
                <a class="dropdown-item" href="{% url 'cliente-adicionar' %}">Adicionar Cliente</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'admin:index' %}">Área Restrita</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Sair</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Entrar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <!-- /#sidebar-wrapper -->
      {% block content %} {% endblock %}
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </div>
</body>
</html>